body {
  font-family: 'Poppins', sans-serif;

}

.background-mainpage {
  background-image: url('/src/assets/bg-people.jpg');
  padding-top: 35vh;
  padding-bottom: 35vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}