

body {
  font-family: "Poppins", sans-serif;
}
.title{
  font-size: 4rem;
}
.access-btn{
  font-size: 1.3rem;
  border: 2px solid black;
  //color: white;
}
.access-btn:hover{
  font-size: 1.3rem;
  //border: 2px solid white;
  color: white;
  background-color: black;
}
.login{
  max-width: 550px;
  margin: auto;
}
.padding-cards{
  width: 1px;
}

.background-mainpage {
  background-image: url("/src/assets/students.webp");
  padding-top: 35vh;
  padding-bottom: 35vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 30px gray;
}

.cards-section{
  background-color: #fbff00;
  padding-bottom: 200px;
}
.cards-section article{
  background-color: #ece800;
}

.profile-picture {
  height: 150px;
  width: 150px;
  position: relative;
  border: 3px solid rgb(255, 255, 255);
  margin: auto;
  background-color: #74a7e4;
  color: white;
}

.profile-picture h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.open-button {
  position: absolute;
  top: 50%;
  left: 98%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bg-blue {
  background-color: #dceafc;
}

.bg-bluedark {
  background-color: #bbd5f9;
}

.pomodoro-danger {
  margin: auto;
  margin-left: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #dc3545;
  box-shadow: 0 0 3px #dc3545;
}
.pomodoro-secondary {
  margin: auto;
  margin-left: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #6c757d;
  box-shadow: 0 0 3px #6c757d;
}
.pomodoro-warning {
  margin: auto;
  margin-left: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ffc107;
  box-shadow: 0 0 3px #ffc107;
}
.pomodoro-primary {
  margin: auto;
  margin-left: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #0d6efd;
  box-shadow: 0 0 3px #0d6efd;
}
.pomodoro-label{
  font-size: 11.5px;
}
.pomodoro-progress{
  width: 78px;
  height: 4px;
  margin-bottom: 5px;
}
.pomodoro-progress-navbar{
  width: 82px;
  height: 1px;
  margin-top: -3px;
  background-color: #24242c ;
}
.pomodoro-button{
  width: 90px;
}

.date-announcement{
  text-align: end;
  font-style: italic;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: -12px;
}
.footer{
  background-color: #f8f9fa;
}
.msg-right{
  float: right;
  clear: both;
  color: #f8f9fa;
  max-width: 75%;
  min-width: 30%;
  background-color: #2c86da;
  border-radius: 15px;
  border-top-right-radius: 0px;
}
.msg-right .msg-date{
  color:#e0e0e0;
  text-align: end;
  font-size: 12px;
}
.msg-left{
  background-color: aliceblue;
  float: left;
  clear: both;
  max-width: 75%;
  min-width: 30%;
  border-radius: 15px;
  border-top-left-radius: 0px;
}
.msg-left .msg-date{
  color:#8a8a8a;
  text-align: end;
  font-size: 12px;
}
.forum-background{
  background-image: url("/src/assets/bg-forum.webp");
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  max-height: 75vh;
  height: 100vh;
}
.empty{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color:dimgrey;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(32, 59, 112);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(60, 91, 155); 
}


.forum-background::-webkit-scrollbar {
  width: 7px;
}

.forum-background::-webkit-scrollbar-track {
  border-radius: 10px;
}

.forum-background::-webkit-scrollbar-thumb {
  background: #71a4d3;
  border-radius: 10px;
}

.forum-background::-webkit-scrollbar-thumb:hover {
  background: #8ebfee; 
}

.course{
  transition: transform 0.1s;
  transform: scale(1, 1);
}
.course:hover{
  transition: transform 0.1s;
  transform: scale(1.1 ,1.1);
}

.accordion-card{
  transition: transform 0.1s;
  transform: translateX(0em);
  padding: 10px;
  width: 100%;
}
.accordion-card:hover{
  transition: transform 0.1s;
  transform: translateX(2em);
}
.accordion-box{
  background-color:white !important;
  color: black !important;
  
}
.accordion-box:hover{
  background-color: whitesmoke !important;
  color: black !important;
  font-weight: bold;
}


.price {
  position: absolute;
  background: #ffee00;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  margin-right: -100px;
  margin-top: 5px;
  margin-left: 40px;
  box-shadow: -10px 20px 15px -10px rgba(0, 0, 0, 0.4);
  transform: rotate(4deg);
}
.custom-shadow{
  box-shadow: -10px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

:root {
	--lerp-0: 1;
  --lerp-1: 0.5625;
  --lerp-2: 0.25;
  --lerp-3: 0.0625;
  --lerp-4: 0;
}

.blocks {
  position: absolute;
	display: flex;
	list-style-type: none;
	gap: var(--size-4);
	align-items: center;
	justify-content: center;
	align-content: center;
  width: 150px;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.blocks:hover {
	--show: 1;
}

.block {
	display: grid;
	place-items: center;
	align-content: center;
	transition: flex 0.2s;
	flex: calc(0.2 + (var(--lerp, 0) * 1.5));
	position: relative;
}

.block:after {
	content: '';
	width: 5%;
	aspect-ratio: 1;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.block:before {
	content: '';
	position: absolute;
	width: calc(100% + var(--size-4));
	bottom: 0;
	aspect-ratio: 1 / 2;
	left: 50%;
	transition: transform 0.2s;
	transform-origin: 50% 100%;
	transform: translateX(-50%) scaleY(var(--show, 0));
	z-index: -1;
}

.block .block__item {
  transition: outline 0.2s;
  outline: transparent var(--size-1) solid;
}

:is(.block:hover, .block:focus-visible) .block__item {
	outline: var(--surface-1) var(--size-1) solid;
}

.block {
	outline: none;
}

.block__item {
	width: 100%;
	aspect-ratio: 1;
	border-radius: var(--radius-3);
	background: var(--bg), var(--surface-1);
	display: inline-block;
	transition: transform 0.2s;
	transform-origin: 50% 100%;
	position: relative;
	transform: translateY(calc(var(--lerp) * -75%));
}

.block__item:after {
	content: '';
	position: absolute;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	aspect-ratio: 1;
}


:is(.block:hover, .block:focus-visible) {
  --lerp: var(--lerp-0);
  z-index: 5;
}
.block:has( + :is(.block:hover, .block:focus-visible)),
:is(.block:hover, .block:focus-visible) + .block {
  --lerp: var(--lerp-1);
  z-index: 4;
}
.block:has( + .block + :is(.block:hover, .block:focus-visible)),
:is(.block:hover, .block:focus-visible) + .block + .block {
  --lerp: var(--lerp-2);
  z-index: 3;
}
.block:has( + .block + .block + :is(.block:hover, .block:focus-visible)),
:is(.block:hover, .block:focus-visible) + .block + .block + .block {
  --lerp: var(--lerp-3);
  z-index: 2;
}
.block:has( + .block + .block + .block + :is(.block:hover, .block:focus-visible)),
:is(.block:hover, .block:focus-visible) + .block + .block + .block + .block {
  --lerp: var(--lerp-4);
  z-index: 1;
}


