body {
  font-family: "Poppins", sans-serif;
}

.background-mainpage {
  background-image: url("/src/assets/bg-people.jpg");
  padding-top: 35vh;
  padding-bottom: 35vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.profile-picture {
  height: 150px;
  width: 150px;
  position: relative;
  border: 3px solid rgb(255, 255, 255);
  margin: auto;
  background-color: #74a7e4;
  color: white;
}

.profile-picture h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.open-button {
  position: absolute;
  top: 50%;
  left: 98%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bg-blue {
  background-color: #dceafc;
}

.bg-bluedark {
  background-color: #bbd5f9;
}

.pomodoro-danger {
  margin: auto;
  margin-left: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #dc3545;
  box-shadow: 0 0 3px #dc3545;
}
.pomodoro-secondary {
  margin: auto;
  margin-left: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #6c757d;
  box-shadow: 0 0 3px #6c757d;
}
.pomodoro-warning {
  margin: auto;
  margin-left: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ffc107;
  box-shadow: 0 0 3px #ffc107;
}
.pomodoro-primary {
  margin: auto;
  margin-left: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #0d6efd;
  box-shadow: 0 0 3px #0d6efd;
}
.pomodoro-label{
  font-size: 10px;
}
.pomodoro-progress{
  width: 78px;
  height: 3px;
  margin-bottom: 5px;
}
